@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-y: auto !important;
  /* Force scroll */
  -webkit-overflow-scrolling: touch;
  /* Smooth scroll on iOS */
}